nav.purple.darken-4.filtered
  .container
    .nav-wrapper
      #logo-container
        a(href="/")
          .logo
            img(src="/images/logo-48.png")
          .brand
            | Clervens Volcy
      ul.nav.navbar-nav.right
        //- li
        //-   a(href='sass.html')
        //-     i.material-icons.left dashboard
        //-     |COMPONENTS
        //-     .ripple-container
        //- li
        //-   a(href='sass.html')
        //-     i.material-icons.left cloud_download
        //-     |DOWNLOAD
        //- li
        //-   a(href='sass.html')
        //-     i.icon.ion-social-twitter
        li
          a(href='https://www.facebook.com/clervens.volcy', target="_blank")
            i.icon.ion-social-facebook
        li
          a(href='https://ca.linkedin.com/pub/clervens-volcy/70/2a6/552', target="_blank")
            i.icon.ion-social-linkedin
