doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title 
            block title
                | Clervens Volcy | Étudiant en Génie Logiciel
        // Import Google Icon Font
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel='stylesheet')
        // Import materialize.css
        link(type='text/css', rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css', media='screen,projection')
        link(type='text/css', rel='stylesheet', href='/css/site.css', media='screen,projection')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/tomorrow.min.css')
        // Let browser know website is optimized for mobile
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        header
            include _header
        .header-filter
            .container
                .row
                    .col-md-8.col-md-offset-2
                        h1
                            block f-title
                        h3
                            block f-subtitle
        main#index-banner.section.section-basic
            .container
                .card-panel.z-depth-5
                    block content
        footer.footer
            .footer-copyright
                .container
                    block footer
                        | Made by 
                        a.blue-grey-text.text-lighten-3(href='http://materializecss.com') Materialize

        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/languages/javascript.min.js')
        script(type='text/javascript', src='/js/site.js')
