extends ../layout
prepend title
  |Days 2 go
block content
  #days2go.center
    h1(title='Days to Go', data-tad-bind='title')
      span#number 
      span  Days
    .digit(data-tad-bind='days')
        span#number
        span  Days to Go
    .date
        | Time 
        span until 
        span Monday, April 23, 2018
